include gafime/*.so
include gafime/*.dll
include gafime/*.dylib
include gafime/*.metallib
include gafime/*.pyd
include gafime/_dummy.c
include LICENSE
include README.md
recursive-include src *.cu *.cpp *.h *.rs *.metal *.mm *.toml
recursive-include gafime_core *.cpp *.txt
include gafime_core/CMakeLists.txt
prune build
prune dist
prune gafime.egg-info
prune gafime_core/build
prune src/cpu/gafime_cpu/target
global-exclude __pycache__/*
global-exclude *.py[cod]
